@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500&display=swap');

.text-secular {
  font-family: "Secular One", sans-serif;
}

body {
  margin: 0;
  font-family: "Secular One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Secular One", sans-serif;
}

/* @import '~mdb-ui-kit/css/mdb.min.css'; */